.footer {background-color: $mainColor;
    padding: 10px;
    margin-top: 40px;
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 10px;
    -webkit-animation:swing-in-top-bck .6s cubic-bezier(.175,.885,.32,1.275) both;animation:swing-in-top-bck .6s cubic-bezier(.175,.885,.32,1.275) both;
    animation-delay: 0.7s;
    
    .titulofooter {color: #e7ecefff;
        font-size: 30px;
        display: flex;
        justify-content: center;
        text-align: center;
        font-weight: bold;}

    .redes {
        padding-left: 0;

        .redesimg {display: inline-block;
            margin-inline: 10px;
            justify-content: center;
            
            .imgRedes {width: 30px;}

        }
    }
    .domicilio {color: #e7ecefff; 
        font-size: 16px;
        font-weight: bold;}
        
    .derechos {color: #e7ecefff; 
        font-size: 10px;
        font-weight: bold;}

}